section{
    background-color: rgb(202, 206, 209);
    margin: 1em;
    border-radius: 1em;
}
h3{
    padding: 0.5em;
    display: flex;
    justify-content: center;
}
a{
    text-decoration: none ;
}