section{
    background-color: rgb(202, 206, 209);
    margin: 1em;
    border-radius: 1em;
}
.row{
    margin:1em;
    padding: 1em;
}
h3{
    padding: 0.5em;
    display: flex;
    justify-content: center;
}
.add{
    width: 40px;
    height: 40px;
    margin-left: 10px;
}
.add > img{
    position: relative;
    right: 0.3rem;
}

#skill{
    height: 60px;
    width: 60px;
}

#btn-edit{
    height: 20px;
    width: 20px;
}
#btn-edit > img{
    width: 10px;
    height: 10px;
    position: relative;
    right: 0.4rem;
    bottom: 0.8rem;
}

#btn-delete{
    height: 20px;
    width: 20px;
}
#btn-delete > img{
    width: 10px;
    height: 10px;
    position: relative;
    right: 0.3rem;
    bottom: 0.7rem;
}

@media (max-width:990px) {
    #skill{
        position: relative;
        left:50%;
    }
    #btn-edit{
        height: 20px;
        width: 20px;
        position: relative;
        left: 50%;
    }
    #btn-edit > img{
        width: 10px;
        height: 10px;
        position: relative;
        bottom: 0.8rem;
    }
    
    #btn-delete{
        height: 20px;
        width: 20px;
        position: relative;
        left: 50%;
    }
    #btn-delete > img{
        width: 10px;
        height: 10px;
        position: relative;
        bottom: 0.7rem;
    }

}
