section{
    background-color: rgb(202, 206, 209);
    margin: 1em;
    border-radius: 1em;
}

.img-fluid{
    width: 150x;
    height:150px;
    margin-left: 2em;
    border-radius: 2em;
}
h4{
    margin-left: 1em;
}
p{
    margin-left: 2em;
}
.add-button{
    margin-right: 1em;
}

.edit-persona-btn{
    position: absolute;
    top: 36.5rem;
    right: 2rem;
}


@media (max-width: 768px)and (min-width:538px){ 
    .add-button{
        font-size: 10px;
    }
    .edit-persona-bt{
        position: relative;
    }
    .edit-button{
        font-size: 10px;
        margin-left: 8em;
    }
}