section{
    background-color: rgb(202, 206, 209);
    margin: 1em;
    border-radius: 1em;
}

.img-fluid{
    width: 150x;
    height:150px;
    margin-left: 2em;
    border-radius: 2em;
}
h4{
    margin-left: 1em;
}
p{
    margin-left: 2em;
}

.edit-persona-btn{
    position: absolute;
    top: 36.5rem;
    right: 4rem;
}

.edit-persona-btn button{
    width: 45px;
    height: 45px;
    border-radius: 100%;
    box-shadow: 1px 1px 10px rgb(128, 128, 128);
}