section{
    background-color: rgb(202, 206, 209);
    margin: 1em;
    border-radius: 1em;
}

.img-fluid{
    width: 150x;
    height:150px;
    margin-left: 2em;
    border-radius: 2em;
}
h4{
    margin-left: 1em;
}
p{
    margin-left: 2em;
}

.edit-persona-btn{
    position: absolute;
    top: 36.5rem;
    right: 4rem;
}


.add-button{
    margin-right: 2em;
}