<div class="container" *ngIf="per">
    <div class="row">
        <div>
            <h1>Editar datos personales</h1>
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nombreP">Nombre</label>
                    <input type="text" class="form-control mb-2" id="nombre" name="nombre" [(ngModel)]="per.nombre" required>
                </div>
                <div class="form-group">
                    <label for="apellidoP">Apellido</label>
                    <input type="text" class="form-control mb-2" id="apellido" name="apellido" [(ngModel)]="per.apellido" required>
                </div>
                <div class="form-group">
                    <label for="tituloP">Título</label>
                    <input type="text" class="form-control mb-2" id="titulo" name="titulo" [(ngModel)]="per.titulo" required>
                </div>
                <div class="form-group">
                    <label for="descP">Descripción</label>
                    <input type="text" class="form-control mb-2" id="desc" name="descripcion" [(ngModel)]="per.descripcion" required>
                </div>
                <div class="form-group">
                    <label for="imgP">Imagen Personal</label>
                    <input type="text" class="form-control mb-2" id="urlImg" name="urlImg" [(ngModel)]="per.urlImg" required>
                </div>  
                <button class="btn btn-primary mb-2">Actualizar datos personales</button>
            </form>
            <a href="#" class="btn btn-secondary">Cancelar</a>
        </div>

    </div>
</div>
