section{
    background-color: rgb(202, 206, 209);
    margin: 1em;
    border-radius: 1em;
}

h3{
    padding-top: 0.5em;
    display: flex;
    justify-content: center;
}

#btn-agregar{
    display: flex;
    align-items: flex-end;
    flex-direction: column-reverse;
    padding-right: 2em;
}

li{
    background-color: rgb(191, 185, 185);
    border-radius:1rem;
    padding: 2em;
    margin: 2em;
}

#btns{
    display: flex;
    flex-direction: column;
    justify-content:space-evenly ;
}
.btn{
    margin-bottom: 0.5em;
}
@media screen and (max-width: 660px), screen and (min-width: 475px){
    h4{
        margin-left: 1em;
    }
}
@media screen and (max-width: 474px){
    #ocultar-nombre{
        display:none;
    }
    #btns{
        width: 20px;
        height: 20px;
        margin-left: 1em;
    }
    #img-btn{
        width: 20px;
        height: 20px;
        position: relative;
        right: 0.6em;
    }
}