<nav class="navbar  fixed-top navbar-light c" style="background-color: #209cf5;">
    <a class="navbar-brand" href="#">
        <img src="../../../assets/APLogo.png" class="d-incline-block align-top" alt="">
    </a>
    <ul class="nav justify-content-end ">
        <li class="nav-item">
            <a class="nav-link" href="https://twitter.com/lucasalbornoz04" target="_blank">
                <img src="../../../assets/twitter.png" alt="Twitter">
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://www.instagram.com/lcsalb04/" target="_blank">
                <img src="../../../assets/instagram.png" alt="Instagram">
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://github.com/lucasalbornoz04" target="_blank">
                <img src="../../../assets/github.png" alt="GitHub">
            </a>
        </li>
        <li class="nav-item">
            <button type="button" class="btn btn-success">login</button>
        </li>
    </ul>
</nav>